* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

.container {
  height: 100vh;
}

.header {
  height: 13vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem;
  border-bottom: 1px solid #555;
}

.login {
  display: flex;
  gap: 5.2rem;
}

.spc {
  border: 1px solid #555;
}

.content {
  height: 87vh;
  display: flex;
}

.nav {
  width: 30rem;
  border-right: 1px solid #555;
}

.search {
  border-bottom: 1px solid #555;
}

.flrow {
  width: auto;
}

.pad {
  padding: 2.2rem 5rem;
}

.footer {
  height: 20vh;
  border-top: 1px solid #555;
}
