/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 12 Ara 2023, 20:39:13
    Author     : iscie
*/

.container-height {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10rem;
  margin-top: 5rem;
}

.forms-flex {
  display: flex;
  flex-direction: column;
}

.form-flex {
  display: flex;
  gap: 3rem;
}

.par {
  margin-left: 1rem;
  margin-bottom: 0.5rem;
  font-size: 1.6rem;
  font-weight: 500;
  color: #003243;
}

.form-flex .subm {
  border: 1px solid #003243;
  border-radius: 16px;
  padding: 0.8rem 1.6rem;
  background: #003243;
  color: #ea580c;
  transition: all 0.3s;
  cursor: pointer;
  font-size: 1.6rem;
  width: 12rem;
}

.form-flex .subm:hover {
  background-color: #ea580c;
  color: #003243;
}

input {
  width: 25rem;
  padding: 1.25rem 1rem;
  border-radius: 16px;
  border: 1px solid #003243;
  background-color: #e6f6fc;
}