/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 10 Ara 2023, 04:42:30
    Author     : iscie
*/

body {
  height: 100vh;
  position: relative;
  background: #f8f8f8;
}

.logo {
  margin-left: 2rem;
}

.imgLogo {
  width: 16.6rem;
  height: 4.4rem;
}

.logoDivs {
  padding: 4rem 5rem;
}

.turnback {
  width: 20rem;
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.2);
}

.turn {
  background: #00a7e1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  padding: 1.2rem 2.4rem;
  text-decoration: none;
  font-size: 2rem;
}

.turn:link,
.turn:visited {
  transition: all 0.3s;
  color: #ea580c;
  background: #003243;
}

.turn:hover,
.turn:active {
  background-color: #ea580c;
  color:#003243;
  outline: 1px solid #003243;
}

.logo-p {
  padding: 4rem 0 0 7rem;
}

.logo:link,
.logo:visited {
  color: #003243;
  font-size: 3.2rem;
  text-decoration: none;
  transition: all 0.3s;
}

.logo:hover,
.logo:active {
  color: #ea580c;
}

.mycont {
  position: absolute;
  top: 45%;
  left: 49%;
  transform: translate(-50%, -50%);
  width: 100rem;
  height: 65rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.profile-cont {
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.2);
  border: 1px solid #003243;
  border-radius: 16px;
  background: #e6f6fc;
  width: 100rem;
  height: 65rem;
  overflow: hidden;
  display: flex;
}

.left-col {
  height: 100%;
  width: 20%;
  border-right: 1px solid #003243;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.right-col {
  height: 100%;
  width: 80%;
  padding: 0.5rem;
  background: #b3e5f6;
}

/* myLinks*/
.myLinks {
  display: block;
  width: 100%;
  padding: 2rem;
  transition: all 0.2s;
}

.myLinks:link,
.myLinks:visited {
  text-decoration: none;
  color: #003243;
}

.myLinks:hover,
.myLinks:active {
  color: #ea580c;
}

.myLinks-active {
  display: block;
  width: 100%;
  padding: 2rem;
}

.myLinks-active:link,
.myLinks-active:visited {
  text-decoration: none;
  color: #ea580c;
}

/* Div-Link*/
.div-mylink {
  border-bottom: 1px solid #33333350;
  transition: all 0.2s;
}

.div-mylink:hover,
.div-mylink:active {
  background: #b3e5f6;
}

.div-myLink-active {
  background: #b3e5f6;
  border-bottom: 1px solid #33333350;
}

/* LAST */
.myLinks-last {
  display: block;
  width: 100%;
  padding: 2rem;
  transition: all 0.4s;
}

.div-mylink-last {
  border-top: 1px solid #33333350;
  transition: all 0.4s;
  background: #003243;
}

.myLinks-last:link,
.myLinks-last:visited {
  text-decoration: none;
  color: #ea580c;
}

.myLinks-last:hover,
.myLinks-last:active {
  color: #003243;
  background: #ea580c;
}